.back-g {
    background: url("diploma-4.png");
    width: 800px; 
    height: 600px; 
    padding: 30px;
}
.front-text{
    width: fit-content; 
    font-family: 'Lucida Sans', sans-serif; 
    padding: 130px; 
    text-align: center;
}
.cert{
    height: 50px;
    text-align: center;
    font-size: 25px; 
    font-weight: bold; 
    padding: 80px; 
    color: rgb(250, 45, 79)
}
.tht{
    font-family: 'Lucida Sans', sans-serif; 
    font-style: normal;
    font-size:20px;

}
.name{
    font-size: 30px; 
    font-weight: bold; 
    padding: 80px; 
    color: rgb(85, 137, 220); 
}
.succes{
    font-family: 'Lucida Sans', sans-serif; 
    font-style: normal;
    font-weight: normal;
    font-size: 15px
}
.date{
    font-size: 10px
}
.table{
    padding: 3px;
    font-size: 15px;
}